@import "./shared.scss";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.icon {
  vertical-align: text-bottom;
}

.element-overlay {
  @include camunda-link;

  display: block;
  animation: jump 1s infinite;
  animation-timing-function: ease;
  position: relative;
  transform: scale(1);
  transition: all 0.2 ease-in-out;

  &:hover {
    width: auto;
    animation-name: none;
  }
}

@keyframes jump {
  50% {
    transform: scale(1.1);
  }
}