@mixin button($color, $fill: true, $backgroundColor: scale-color($color, $lightness: +10%)) {

  @if lightness($color) < 50% {
    color: white;
  } @else {
    color: black;
  }

  @if $fill {
    background: $backgroundColor;
  }

  border: solid 1px $color;
  border-radius: 3px;

  padding: 6px 12px;
  font: 14px monospace;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;

  &:hover {
    background: $color;
  }
}

@mixin camunda-link {
  @include button(#a40e20);

  border-radius: 16px;
  box-sizing: border-box;

  .long {
    display: none;
  }

  &:hover {
    border-radius: 16px;

    .long {
      display: initial;
    }
  }
}